#adno-osd {
    width: 100%;
    height: calc(100vh - 136px);
}

.osd-buttons-bar {
    width: 100%;
    display: flex;
}

.osd-buttons-bar-hidden {
    display: none;
}

.adno-osd-anno-fullscreen {
    position: absolute;
    z-index: 10000;
    top: 64px;
    left: 2%;
    width: 24vw;
    height: auto;
    background: rgba(255, 255, 255, 0.94);
    color: #71719d;
    border-radius: 2px;
    padding: 10px;
    overflow: auto;
    resize: both;
    min-width: 15vw;
    max-height: calc(100% - 16vh);
    font-size: x-large;
}

.adno-osd-anno-fullscreen-tb-opened {
    position: absolute;
    z-index: 10000;
    top: 8%;
    left: 2%;
    width: 24vw;
    height: auto;
    background: rgba(255, 255, 255, 0.94);
    color: #71719d;
    border-radius: 2px;
    padding: 10px;
    overflow: auto;
    resize: both;
    min-width: 15vw;
    max-height: calc(100% - 16vh);
    font-size: x-large;
}

.adno-timer-osd {
    text-align: center;
}

.toolbar-on {
    display: block;
}

.toolbar-off {
    display: none;
}

.a9s-annotation--hidden {
    opacity: 0;
}

.eye path {
    fill: #fff !important;
    stroke: #fff !important;
    stroke-width: 1;
}

.eye circle {
    fill: #000 !important;
    stroke: #000 !important;
    stroke-width: 1;
}

.eye-selected path {
    fill: #000 !important;
    stroke: #000 !important;
    stroke-width: 1;
}

.eye-selected circle {
    fill: #fff !important;
    stroke: #fff !important;
    stroke-width: 1;
}

.a9s-annotation-background-eye {
    width: 42px;
    height: 42px;
    background: red;
}