#adno-osd{
    width: 100%;
    height: calc(100vh - 136px);
}

.osd-buttons-bar{
    width: 100%;
    display: flex;
}

.osd-buttons-bar-hidden{
    display: none;
}

.adno-osd-anno-fullscreen{
    position: absolute;
    z-index: 10000;
    top: 64px;
    left: 2%;
    width: 300px;
    height: 200px;
    background-color: white;
    color: cadetblue;
    border-radius: 2px;
    padding: 10px;
    overflow: auto;
    font-size: x-large;
}

.adno-osd-anno-fullscreen-tb-opened{
    position: absolute;
    z-index: 10000;
    top: 8%;
    left: 2%;
    width: 20vw;
    height: auto;
    background-color: white;
    color: cadetblue;
    border-radius: 2px;
    padding: 10px;
    overflow: auto;
    resize: both;
    min-width: 15vw;
    max-height: calc(100% - 10vh);
    font-size: x-large;
}


.adno-timer-osd{
    text-align: center;
}

.toolbar-on{
    display: block;
}

.toolbar-off{
    display: none;
}

.a9s-annotation--hidden {
    display: none;
}

.a9s-annotation--show {
    display: block !important;
}