.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

#projects_list{
    height: 61vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.with_projects{
    display: flex;
    width: 100%;
}

.with_projects_left{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myForm{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px auto;
}

.with_projects_right{
    width: 65%;
    padding: 15px;
}

.with_projects_right #projects_list{
    width: 100%;
}

#import_2{
    margin-top: 5%;
}

.import_project_separator{
    text-align: center;
    margin: 5% 0 5% 0;
}


.picture-div{
    width: 85%;
    margin: 5vh auto 0 auto;
    height: 90%;
}

.project-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projet-page-title{
    text-align: center;
    margin: 4vh auto 4vh auto;
}

#container_with_projects{
    margin-top: 5vh;
}

.adno_container{
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.project-card:hover{
    border: 2px solid #007bff;
}

.homewpbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.btn-sh-examples{
    margin-top: 10px;
}

#create_project_2{
    width: 150px;
    margin-left: 15px;
}

.add_url{
    margin-bottom: 0 !important;
}

@media (max-width: 1440px) {
    #projects_list{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        height: 75vh;
    }

    #container_with_projects {
        margin-top: 0 !important;
    }
}
