.adno-project-view {
    transition: all 1s ease 0s;
}

.adno-project-view-sb-opened{
    margin-left: 350px;
    transition: all 1s ease 0s;
}

.adno-viewer-leftbar{
    width: 20vw;
    background-color: white;
    height: 85vh;
    position: absolute;
    top: 10vh;
    left: 5vw;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.adno-viewer-leftbar .adno-nb-annos{
    color: #007bff;
}

.adno-viewer-rightbar{
    width: 65vw;
    height: 70vh;
    position: absolute;
    left: 30vw;
    top: 10vh;
}

.dl-btn{
    background: #303640;
    color: white;
}

#image_iiif .openseadragon-container{
    border-radius: 10px !important;
}

#image_iiif_annotations #storyboard_viewer {
    padding-bottom: 0px !important;
}

.subbutton-success{
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: .4px;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
    padding: 16px 32px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    background-color: #398a39 !important;
    outline: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .editing-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.text-rich{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    background: #5c555580;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-rich .text-rich-content{
    width: 90vw;
    height: 70vh;
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-main-bar{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.dl_toggle{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 90px;
}
  
.label-toggle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.right-card-closed{
    width: 100%;
}

.right-card-opened {
    width: 100%;
}

@media (min-width: 840px) and (max-width: 1440px) { 
    .label-toggle{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;
    }

    .dl_toggle{
        margin-left: auto;
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .adno-viewer-rightbar{
        top: 12vh;
        height: 470px !important;
        width: 76vw;
        left: 23vw;
    }

    .adno-viewer-leftbar{
        top: 12vh;
        height: 85vh;
        width: 20vw;
        left: 2vw;
    }

    #image_iiif_annotations #storyboard_viewer .seadragonbox {
        width: 100%;
        display: inline-block;
    }
 }


@media (max-width: 840px) { 
    .adno-viewer-rightbar-without-annos #image_iiif{
        height: 750px !important;
        margin: auto;
        padding-bottom: 2%;
    }

    .dl_toggle{
        margin-left: auto;
        display: flex;
        align-items: center;
        margin-right: 35px;
    }

    .label-toggle{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;
    }

    .right-card-opened {
        width: 75%;
    }
}