.project {
    height: 100vh;
}

.project .navbar {
    /* background: var(--adno-main-color); */
    min-height: initial;
    height: 58px;
    padding: 0 1rem;
}

.project .navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    min-height: initial;
    min-width: initial;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
}


.project .navbar-button * {
    cursor: pointer;
}

.project .navbar h1 {
    font-weight: 800;
}

.project .navbar .toggle-success {
    border: var(--adno-second-color);
    background: var(--adno-view-color);
    /* width: 100%; */
}

.project .navbar .toggle-success:checked {
    border: var(--adno-main-color);
    background: var(--adno-edit-color);
}

/* .toggle-lg {
    width: 4rem !important;
} */

.adno-project-view {
    transition: all 1s ease 0s;
}

.adno-project-view-sb-opened {
    margin-left: 350px;
    transition: all 1s ease 0s;
}

.dl-btn {
    background: #303640;
    color: white;
}

.subbutton-success {
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: .4px;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
    padding: 16px 32px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    background-color: #398a39 !important;
    outline: none !important;
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.editing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.text-rich {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    background: #5c555580;
    z-index: 1000000000000000;
}

.text-rich .text-rich-content {
    width: 90vw;
    height: 70vh;
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-main-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.undo-redo {
    margin: auto;
    flex: 1;
    display: flex;
    justify-content: center;
}

.label-toggle {
    position: relative;
    display: flex;
}

.label-toggle label {
    position: absolute;
    white-space: nowrap;
    cursor: pointer;
    pointer-events: none;
    margin: auto;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.toggle-lg {
    width: 8.25rem !important;
}

.right-card-closed {
    width: 100%;
}

.right-card-opened {
    width: 100%;
}


@media (max-width: 840px) {
    .right-card-opened {
        width: 75%;
    }
}





.subbutton-success {
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: .4px;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
    padding: 16px 32px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    background-color: #398a39 !important;
    outline: none !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.editing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-tags-list {
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
    display: flex;
    width: 280px;
    flex-wrap: wrap;
}

#header_toolbar>.toolbarButton:not(:last-child) {
    margin-right: 0 !important;
}


#header_toolbar>.toolbarButton {
    margin-bottom: 0 !important;
}

.toolbarButton {
    width: 100%;
    background-color: #f0f0f0;
    padding: 6px;
    border: none;
    font-size: 1.5rem;
    z-index: 49;
}

.toolbarButton:hover {
    background-color: #d9d9d9;
}

