.card-title iframe{
    max-width: 100%;
    max-height: 200px;
}

.card-title img{
    max-width: 100%;
    max-height: 200px;
}

.adno-viewer-list-annos{
    width: 100%;
    flex-direction: column;
    display: flex;
    overflow: auto;
    height: 100%;
}

.adno-viewer-card{
    width: 90%;
    border: 2px solid #007bff;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px auto;
    padding: 15px;
}

.adno-viewer-card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.adno-viewer-nb-annos{
    margin: 30px 0;
    text-align: center;
    color: white;
}

.selectedAnno{
    border: 2px solid gold !important;
}

.btn-show-more{
    margin-top: 10px;
    gap: 10px;
}

.btn-line-one-card{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}