.project-metadatas-backdrop{
    width: 100vw;
    height: 100vh;
    z-index: 100000000000;
    background: #5c5555db;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.project-metadatas-container{
    width: 90vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-metadatas{
    width: 75%;
    height: 85%;
    padding: 20px;
    overflow: auto;
}

.project-metadatas > input{
    width: 100%;
    max-width: 100%;
}

.project-metadatas > label > span {
    color: black;
    margin: 10px 0;
}