.tts_play{
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: .4px;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
    padding: 16px 32px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    background-color: #055ada !important;
    outline: none !important;
}