body {
    --adno-main-color: #71719d;
    --adno-second-color: #4b4b6d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    outline: 1px solid red;
}

.adno-link{
    color: #551A8B;
}

.custom-react-select {
    z-index: 100;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
    margin: unset;
}

ul {
    margin: revert; 
    padding: revert;
    list-style: disc;
}

.toastui-editor-toolbar-icons {
    background: url(../img/md-icons.png)  0 0 / 466px 146px no-repeat;
    background-position-y: 3px;
}

footer{
    position: fixed;
    top: calc(100vh - 52px)
}