body {
    --adno-main-color: #71719d;
    --adno-second-color: #4b4b6d;
    --adno-edit-color: #FF6633;
    --adno-view-color: #33CC33;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    outline: 1px solid red;
}

.adno-link{
    color: #551A8B;
}

.custom-react-select {
    z-index: 100;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
    margin: unset;
}

ul {
    margin: revert; 
    padding: revert;
    list-style: disc;
}

.py-4 code {
    padding: 0 0.5em;
    margin: 0 0.5em;
}

.toastui-editor-toolbar-icons {
    background: url(../img/md-icons.png)  0 0 / 466px 146px no-repeat;
    background-position-y: 3px;
}

#toolbar-container button.a9s-toolbar-btn {
    margin: 0 4px 0 ;
    padding: 4px;
    width: 40px;
    height: 40px;
}

footer{
    position: fixed;
    top: calc(100vh - 52px)
}

.a9s-annotationlayer .outline-1px .a9s-inner {
    stroke-width: 1px;
}

.a9s-annotationlayer .outline-1px .a9s-outer {
    stroke-width: 3px;
}

.a9s-annotationlayer .outline-2px .a9s-inner {
    stroke-width: 2px;
}

.a9s-annotationlayer .outline-2px .a9s-outer {
    stroke-width: 4px;
}

.a9s-annotationlayer .outline-3px .a9s-inner {
    stroke-width: 3px;
}

.a9s-annotationlayer .outline-3px .a9s-outer {
    stroke-width: 5px;
}

.a9s-annotationlayer .outline-5px .a9s-inner {
    stroke-width: 5px;
}

.a9s-annotationlayer .outline-5px .a9s-outer {
    stroke-width: 7px;
}

.a9s-annotationlayer .outline-8px .a9s-inner {
    stroke-width: 8px;
}

.a9s-annotationlayer .outline-8px .a9s-outer {
    stroke-width: 10px;
}